@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
  --sidebar-width: 150px;
  --date-grid-max-width: 200px;
  --web-base-color-lighter: #fcc567;
  --web-base-color: #f29a04;
  --web-base-color-daker: #a76e0b;
}

body{
  background-color: rgb(255, 255, 255);
}

*{
  font-family: 'Nunito', sans-serif;
  word-wrap: break-word;
}

.web-main-color{
  color: var(--web-base-color);
}

.form-default-box{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  margin: 25px auto;
}

.default-wrapper{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  margin: 25px auto;
}

.mw-600{
  max-width: 600px;
}

.mw-400{
  max-width: 400px;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 400px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 10px;
}
.box h2{
  margin: 0 0 30px;
  padding: 0;
  color: #f29a04;
  text-align: center;
}
.box .inputBox{
  position: relative;
}
.box .inputBox input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(124, 124, 124);
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(206, 206, 206);
  outline: none;
  background: transparent;
}
.box .inputBox label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #eee;
  pointer-events: none;
  transition: .5s;
  
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.box input[type="submit"]{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar-wrapper{
  position: fixed;
  top: 0;
  height: 100%;
  width: var(--sidebar-width);
  background-color: rgb(65, 65, 65);
}

.sidebar-wrapper ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-link {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  text-decoration: none;
  width: 100%;
}

.sidebar-link p{
  padding-left: 10px;
  margin: 0;
}

.sidebar-link:hover {
  color: white;
  transform: translateY(-2px);
}

.sidebar-link--active {
  transition: border-bottom .5s ease-in-out;
  color: white;
  background-color: black;
}

.sidebar-bottom-wrapper{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.sidebar-bottom-wrapper .sidebar-link{
  position: absolute;
  bottom: 0;
  margin: 0;
}

.content-wrapper{
  margin-left: var(--sidebar-width);
}

.guide-banner{
  display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
  background-color: #f29a04;
}

.guide-banner h3{
  color:rgb(255, 255, 255);
  margin: 10px 0;
}

.calendar-picker{
  width: var(--date-grid-max-width);
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace;
}

.calendar-picker button{
  border: none;
}

.year-spinner{
  text-align: center;
}

.year-spinner button{
  padding: 0;
  border-radius: 20px;
}

.year-spinner button:hover{
  background-color: rgb(218, 218, 218);
  transition: 0.5s;
}

.year-spinner button:active{
  background-color: rgb(112, 112, 112);
  color: white;
  transform: scale(2)
}

.date-grid {
  max-width: var(--date-grid-max-width);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: stretch;
  font-size: 12px;
}

.date-item {
  display: flex;
  width: 100%;
  height: calc(var(--date-grid-max-width)/7);
  text-align: center;
  margin-bottom: 0px;
  vertical-align: center;
}

.date-item p {
  padding: 0;
  margin: 0;
}

.date-item button{
  width: 100%;
  width: 100%;
  outline: none;
  border: none;
}

.date-item-header {
  background-color: #1d72c2;
  color: white;
  font-size: 10px;
}

.date-item-past button{
  background-color: rgb(241, 241, 241);
  color:rgb(180, 180, 180);
}

.date-item-upcomming button{
  background-color: rgb(80, 209, 241);
  color: white;
}

.date-item-upcomming button:hover{
  outline: none;
  border: none;
  background-color: rgb(10, 187, 231);
}

/* .date-item-upcomming button div{
  border-radius: 50%;
  background-color: rgb(49, 96, 238);
  color: white;
} */

.date-item-active button div{
  border-radius: 50%;
  background-color: rgb(49, 96, 238);
  color: white;
}


.month-grid {
  max-width: var(--date-grid-max-width);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: stretch;
  font-size: 12px;
}

.month-item {
  display: flex;
  width: 100%;
  height: calc(var(--date-grid-max-width)/4);
  text-align: center;
  margin-bottom: 0px;
  vertical-align: center;
}

.month-item button {
  width: 100%;
  background-color: #66a1fa;
  color: white;

}

.month-item button:hover {
  background-color: #407bd3;
  transition: 0.5s;
}

.month-item button:active {
  background-color: #053275;
  transform: scale(1.8)
}

.month-item-active button{
  background-color: #053275;
}

.month-item-active:hover button{
  background-color: #053275;
}


.month-item p {
  padding: 0;
  margin: 0;
  /* border-radius: 50%; */
}

.booking-info-tag{
  width: 75px;
  text-align: right;
  padding-right: 10px;
}

.class-offer-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.class-offer{
  width: 250px;
  text-align: center;
  cursor: pointer;
  padding: 10px ;
  color:rgb(151, 151, 151);
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.class-offer:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.class-offer h3{
  color:rgb(114, 114, 114)
}

.class-offer-active{
  font-weight: 900;
  background-color: #053275;
  color: white
}

.class-offer-active h3{
  color:white;
}

.appointment-panel{
  max-width: 600px;
  margin: 20px auto;
}

.appointment-menu-btn{
  color: white;
  background-color: #86b5fc;
  padding: 10px 5px;
  text-decoration: none;
  max-width: 100px;
  text-align: center;
  margin-right: 2px;
  border: none;
}


.appointment-menu-btn:hover{
  color: white;
  background-color: #2055a5;
  transform: translateY(-10px);
}

.appointment-menu-btn:active{
  background-color: #053275;
  transform: scale(1.2);
}

.appointment-menu-btn--active{
  background-color: #053275;
  transition: border-bottom .5s ease-in-out;
  color: white;
}

.appointment-head{
  /* padding: 10px 5px; */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.appointment-head-upcoming:hover{
  background-color: rgb(112, 183, 241);
  color: white;
  
}

.appointment-head-upcoming{
  background-color: rgb(215, 236, 253);
  color: rgb(12, 94, 114);
}

.appointment-info-upcoming-wrapper{
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(116, 116, 116);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.calendar p{
  text-align: center;
  /* padding: 2px 5px; */
  margin: 0 auto;
}

.mw-1000{
  max-width: 1000px;
}

.calendar-wrapper{
  overflow-x: scroll;
  height: 90vh;
}


.calendar tr, .calendar th{
  border: 1px solid #03a9f4;
}

.calendar table{
  background-color: yellow;
  margin: auto;
  border-collapse: separate;
  display: block;
}

.calendar th:first-child {
  min-width: 100px;
}

.calendar th:not(:first-child), .calendar td{
  min-width: 125px;
}

.calendar thead, .calendar tbody{
  display: inline-block;
}

.calendar thead{
  position: sticky;
  top: 1px;
  z-index: 9999;
}

.calendar th{
    background-color: lightgrey;
}

.header-fixed{
  position: sticky;
  width: 5em;
  left: 0;
  text-align: center;
}

.calendar td:not(header-fixed) {
  z-index: 0;
}

.headcol {
  position: absolute;
  width: 5em;
  left: 0;
  top: auto;
  border-top-width: 1px;
  margin-top: -1px;
}

.td-with-data{
  height: 1px;
}

.td-with-data div{
  height: 100%;
  cursor: pointer;
  background-color: #08b1bd;
  color: white;
}

.td-with-data div:hover{
  background-color: #08bed6;

}

.td-with-data div:active{
  background-color: #1dbaf8;
}

/* .sidebar-link {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  text-decoration: none;
  width: 100%;
}

.sidebar-link p{
  padding-left: 10px;
  margin: 0;
}

.sidebar-link:hover {
  color: white;
  transform: translateY(-2px);
}

.sidebar-link--active {
  transition: border-bottom .5s ease-in-out;
  color: white;
  background-color: black;
} */




@media only screen and (max-width: 800px) {
  :root {
    --sidebar-width: 40px;
  }
  .sidebar-link p{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .form-default-box, .default-wrapper{
    padding: 10px;
    margin: 10px auto;
  }
  .button-text{
    display: none;
  }
}